<!DOCTYPE html>
<html lang="en">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:insert="./common/head :: admin_header"></div>
<body>
<!--添加用户的面板-->
<div class="layui-col-md12" id="add_pane">
    <div class="layui-card">
        <div class="layui-card-header">
            <h1 style="text-align: center;">添加课程</h1>
            <hr class="layui-bg-blue">
        </div>
        <br/><br/>
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">课程号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="cno" autocomplete="off" placeholder="请输入课程号" required lay-verify="required"
                               class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">课程名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="cname" autocomplete="off" placeholder="请输入课程名称" required lay-verify="required"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">上课时间：</label>
                    <div class="layui-input-block">
                        <input type="text" name="beginTime" autocomplete="off" placeholder="请输入上课时间" required lay-verify="required"
                               class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">上课地点：</label>
                    <div class="layui-input-block">
                        <input type="text" name="location" autocomplete="off" placeholder="请输入上课地点" required lay-verify="required"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">学分：</label>
                    <div class="layui-input-block">
                        <input type="text" name="credit" autocomplete="off" placeholder="请输入课程学分" required lay-verify="required"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">

                        <button class="layui-btn" id="btn_save" lay-submit="" lay-filter="addStudent">保存</button>

                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--添加用户的面板结束-->
<script th:src="@{/res/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.use(['form', 'element', 'layer'], function () {
        var $ = layui.$;  //使用jquery;
        var form = layui.form,
            element = layui.element,
            layer = layui.layer;

        //监听提交
        /*<![CDATA[*/
        var saveUrl = /*[[@{/course/save}]]*/;
        /*]]>*/
        form.on('submit(addStudent)', function (data) {
            $.ajax({
                url: saveUrl,
                type: "POST",
                dataType: 'json',
                async: true,
                data: {param: JSON.stringify(data.field)},
                success: function (resp) {
                    if (resp.meta.success) {
                        layer.msg('添加成功', {
                            icon: 6,
                            time: 3000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                        })
                        window.parent.location.reload();
                        setTimeout("closePop()",2000);
                        //layer.closeAll();
                    }else{
                        layer.open({
                            title: '提示信息'
                            ,content: '修改失败。'
                        });
                    }
                }
            })
            return false;
        });
    })
    function closePop(){
        //关闭当前弹出层
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    }
</script>
</body>
</html>