<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--把导航栏模块包含我的页面里面-->
<head th:include="./common/head :: admin_header"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--header information-->
    <div th:replace="./common/admin :: admin_header"></div>
    <!--左侧菜单-->
    <div th:insert="./common/admin :: left_menu"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 20px;">

            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">修改密码</li>
                    <li>忘记密码</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <!--学生资料显示-->
                        <div class="layui-form layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form layui-form-pane">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">当前密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="password" id="password" required
                                                   lay-verify="required" autocomplete="off" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label">新密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="newpassword" id="newpassword"
                                                   lay-verify="newpassword" required autocomplete="off"
                                                   class="layui-input"/>
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label">确认密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="confirmpass" id="confirmpass"
                                                   autocomplete="off" lay-verify="confirmpass" required
                                                   class="layui-input"/>
                                        </div>
                                    </div>


                                    <div class="layui-form-item">
                                        <button class="layui-btn" key="set-mine" lay-filter="btn_update" lay-submit>
                                            确认修改
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="layui-tab-item" style="padding-top: 15px;">

                        <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                            <ul class="layui-form">
                                <li class="layui-form-li">
                                    <label>您的邮箱：</label>
                                    <span class="layui-form-text">xx@xx.com
                                        <em style="color:#c00;">（尚未激活）</em>
                                    </span>
                                </li>
                                <li class="layui-form-li" style="margin-top: 20px; line-height: 26px;">
                                    <div>
                                        系统无找回密码功能，若想找回密码请联系管理员：
                                        <span class="layui-form-text">
                                            <em style="color:#c00;">
                                            XXX老师
                                            </em>
                                        </span>
                                    </div>
                                    <div>
                                        办公地点：
                                        <span class="layui-form-text">
                                            <em style="color:#c00;">
                                            行政楼203教务办公室
                                            </em>
                                        </span>
                                    </div>
                                    <div>
                                        上班时间：
                                        <span class="layui-form-text">
                                            <em style="color:#c00;">
                                            周一到周五早上8:00 - 12:00下午14:00 - 17:30
                                            </em>
                                        </span>
                                    </div>
                                    <div>
                                        联系方式：
                                        <span class="layui-form-text">
                                            <em style="color:#c00;">13999999999</em>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>


<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
<script th:src="@{/res/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.use(['form', 'element', 'layer', 'upload'], function () {
        var $ = layui.$;  //使用jquery;
        var form = layui.form,
            element = layui.element,
            upload = layui.upload,
            layer = layui.layer;
        /*<![CDATA[*/
        var updatePasswordUrl = /*[[@{/updatePassword}]]*/;
        /*]]>*/

        //自定义验证规则
        form.verify({
            newpassword: function (value) {
                if (value.length < 6 || value.length > 16) {
                    return "密码在6-16位之间";
                }
            }
            , confirmpass: function (value) {
                var password = $('#newpassword').val();
                if (value != password) {
                    return "两次密码不一致";
                }
            }
        });

        form.on('submit(btn_update)', function (data) {
            $.ajax({
                url: updatePasswordUrl,
                type: "POST",
                dataType: 'json',
                async: true,
                data: {param: JSON.stringify(data.field)},
                success: function (resp) {
                    if (resp.meta.success) {
                        layer.msg('修改密码成功');
                        setTimeout("location.reload()", 2000);
                    } else {
                        layer.ready(function () {
                            layer.msg('原密码不正确：请检查您输入的密码');
                        });
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>
